.contents {
    background-color: rgb(83, 164, 235);
    display: flex;
    flex-direction: column;
    min-width: 1000px;
}
.titleContainer {
    background-color: rgb(83, 235, 182);
    display: flex;
    height: 75px;
    margin-bottom: 3px;
    padding: 5px;
}
.mainTitleContainer {
    background-color: rgb(235, 200, 83);
    height: 100%;
    width: 40%;
    align-items: left;
    vertical-align: middle;
}
.itemContainer {
    background-color: rgb(133, 86, 164);
}
.containerMainKPI {
    background-color: aqua;
    justify-content: space-between;
    width: 100%;
}
.containerRow {
    background-color: rgb(243, 159, 159);
    justify-content: space-between;
    width: 100%;
}
.containerMainKPI, .containerRow {
    display: flex;
}
.boxContainer {
    padding: 5px;
    width: 20%;
}
.statsContainer {
    background-color: rgb(85, 247, 85);
    display: flex;
    align-items: left;
    width: 25%;
    padding: 5px;
}
.timeContainer {
    background-color: rosybrown;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 60%;
}
.title {
    color: white;
    text-align: left;
    margin: 0px 0px;
    height: 70%;
    width: 100%;
}
h1, h5 {
    color: white;
    text-align: left;
    margin: 0px 0px;
}
.box h5 {
    font-size: 20px;
}
.timeStamp {
    background-color: rgb(235, 83, 83);
    height: 30%;
    width: 100%;
    text-align: left;
}

.box, .box-large, .timeBox {
    background-color:rgb(77, 190, 243);
    opacity: 0.8;
    border-radius: 10px;
    border: solid 1px black;
}
.contentField {
    text-align: center;
}
.mainContent {
    font-size: 30px;
    margin: 0 0;
}
.subContent {
    font-size: 17px;
    margin: 0 0;
}







.timeBox {
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 5px;
    margin-left: 5px;
}
.box {
    padding: 5px;
}
.box-large {
    width: 100%;
    padding: 5px;
}
.timeContent {
    text-align: center;
}