.contents {
    background-color: rgb(83, 164, 235);
    display: flex;
    flex-direction: column;
}
.titleContainer {
    background-color: rgb(83, 235, 182);
    height: 75px;
}
.mainTitleContainer {
    background-color: rgb(235, 200, 83);
    height: 100%;
    width: 40%;
    align-items: left;
}
.timeContainer {
    background-color: rosybrown;
    height: 100%;
    width: 60%;
    align-items: right;
}
.title {
    color: white;
    text-align: left;
    margin: 0px 0px;
    height: 70%;
    width: 100%;
}
h1 {
    color: white;
    text-align: left;
    margin: 0px 0px;
}
.timeStamp {
    background-color: rgb(235, 83, 83);
    height: 30%;
    width: 100%;
    text-align: left;
}
