{% extends "base.html" %}
{% block content %}
<main class="form-change-password w-100 m-auto p-5">
    <div class="row justify-content-center">
        <h3 style="text-align: center;">パスワード変更</h2>
        <form class="text-center" style="width: 250px;" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                {{ field }}
                {% if field.errors %}
                <p style="color:red">{{ field.errors }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <button class="btn w-100 py-2 mt-4" type="submit">パスワード変更</button><br>
        </form>
    </div>
</main>
{% endblock %}
