body {
    background-color: rgb(161, 130, 130);
}

/*-------------------------

        chartの設定

-------------------------*/
.chartContainer {
    flex: 1;
    color: white;
    width: 70%;
}
.domain {
    font-size: 20px;
    color: white;
}