body {
    background-color: #f0f0f0;
    font-family: "Noto Sans JP", sans-serif;
}
nav {
    height: 30px;
    background-color: #f0f0f0;
    border: solid 1px #dfdfdf; 
    margin: 5px;
}
.formContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

.formContainer form, .box {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    box-shadow: 3px 3px 15px -5px #777777;
    border-radius: 10px;
}

.uiForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.formField {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formField input {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 4px;
}

.formField input:focus {
    outline: none;
}

.formField label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
}

button {
    background-color: rgb(54, 95, 229);
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    background-color: rgb(41, 73, 176);
}