{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block styles %}{% load static %}
<link rel="stylesheet" href="{% static 'api/css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'api/css/buffer.css' %}">
{% endblock %}

{% block title %}KPI速報{% endblock %}

{% block content %}
{% load custom_filters %}
<div class="page">
    <div class="titleContainer">
        <div class="mainTitle">
            <h1>KPI速報 API</h1>
            <p id="created-at">0000-00-00 00:00:00 現在</p>
        </div>
        <div class="timeContainer">
            <div class="timeBox">
                <div class="timeTitle">現在の時刻</div>
                <p id="current-time">00:00:00</p>
            </div>
            <div class="timeBox">
                <div class="timeTitle">20分前の時刻</div>
                <p id="twenty-minutes-ago">00:00:00</p>
            </div>
            <div class="timeBox">
                <div class="timeTitle">40分前の時刻</div>
                <p id="forty-minutes-ago">00:00:00</p>
            </div>
        </div>
    </div>
    <div class="contentsContainer">
        <div class="mainContainer">
            <div class="mainBox">
                <h5>応答率</h5>
                <div class="contentField">
                    <p class="rate"><span id="response-rate">0.00</span> %</p>
                    <p><span id="responses">0</span> / <span id="total-calls-response">0</span></p>
                    <p>-</p>
                </div>
            </div>
            <div class="mainBox">
                <h5>直受け率</h5>
                <div class="contentField">
                    <p class="rate"><span id="direct-handling-rate">0.00</span> %</p>
                    <p><span id="direct-handling">0</span> / <span id="phone-inquiries-direct-rate">0</span></p>
                    <p class="subContent">Buffer: <span class="buffer" id="buffer-direct-handling-rate">0</span></p>
                </div>
            </div>
            <div class="mainBox">
                <h5>20分以内折返し率</h5>
                <div class="contentField">
                    <p class="rate"><span id="cumulative-callback-rate-under-20-min">0.00</span> %</p>
                    <p class="subContent"><span id="cumulative-callback-under-20-min">0</span> / <span id="cumulative-callback-under-60-min-plus-wfc20">0</span>（滞: <span id="waiting-for-callback-over-20min">0</span>）</p>
                    <p class="subContent">Buffer: <span class="buffer" id="buffer-cumulative-callback-under-20-rate">0</span></p>
                </div>
            </div>
            <div class="mainBox">
                <h5>30分以内折返し率</h5>
                <div class="contentField">
                    <p class="rate"><span id="cumulative-callback-rate-under-30-min">0.00</span> %</p>
                    <p class="subContent"><span id="cumulative-callback-under-30-min">0</span> / <span id="cumulative-callback-under-60-min-plus-wfc30">0</span>（滞: <span id="waiting-for-callback-over-30min">0</span>）</p>
                    <p class="subContent">-</p>
                </div>
            </div>
            <div class="mainBox">
                <h5>40分以内折返し率</h5>
                <div class="contentField">
                    <p class="rate"><span id="cumulative-callback-rate-under-40-min">0.00</span> %</p>
                    <p class="subContent"><span id="cumulative-callback-under-40-min">0</span> / <span id="cumulative-callback-under-60-min-plus-wfc40">0</span>（滞: <span id="waiting-for-callback-over-40min">0</span>）</p>
                    <p class="subContent">Buffer: <span class="buffer" id="buffer-cumulative-callback-under-40-rate">0</span></p>
                </div>
            </div>
        </div>
        <div class="subContainer">
            <div class="sideContainer">
                <div class="statsContainer">
                    <div class="statsBox">
                        <table class="statsTable">
                            <tr>
                                <th>総着信数</th>
                                <td><span id="total-calls">0</span> 件</td>
                            </tr>
                            <tr>
                                <th>放棄呼数</th>
                                <td><span id="abandoned-calls">0</span> 件</td>
                            </tr>
                            <tr>
                                <th>留守電数</th>
                                <td><span id="voicemails">0</span> 件</td>
                            </tr>
                            <tr>
                                <th>電話問い合わせ件数</th>
                                <td><span id="phone-inquiries">0</span> 件</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="delayContainer">
                    <div class="delayBox">
                        <h5>滞留案件</h5>
                        {% wfc kpi_object.wfc_20min_list kpi_object.wfc_30min_list kpi_object.wfc_40min_list kpi_object.wfc_60min_list as w %}
                        <div class="tableContainer">
                            <table class="delayTable" id="wfcTable">
                                <tr>
                                    <th>案件番号</th>
                                    <th>滞留時間</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chartContainer">
                <div class="d3Chart" id="my_dataviz"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}{% load static %}
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="{% static 'api/js/d3_chart.js' %}"></script>
<script src="{% static 'api/js/dashboard.js' %}"></script>
<script src="{% static 'api/js/fetch.js' %}"></script>
{% endblock %}
