{% extends "base.html" %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'kpi/css/dashboard.css' %}">
{% endblock %}

{% block title %}KPI速報{% endblock %}

{% block content %}
{% load custom_filters %}
{% add_values kpi_object.cumulative_callback_under_60_min kpi_object.callback_count_over_60_min as result %}

<div class="page">
    <div class="contents">
        <div class="titleContainer">
            <div class="mainContainer">
                <h1>KPI速報</h1>
                <div class="dateContent">{{ kpi_object.created_at }} 現在</div>
            </div>
            <div class="timeContainer">
                <div class="timeBox">
                    <h5>現在の時刻</h5>
                    <div class="timeContent" id="current-time">00:00:00</div>
                </div>
                <div class="timeBox">
                    <h5>20分前の時刻</h5>
                    <div class="timeContent" id="twenty-minutes-ago">00:00:00</div>
                </div>
                <div class="timeBox">
                    <h5>40分前の時刻</h5>
                    <div class="timeContent" id="forty-minutes-ago">00:00:00</div>
                </div>
            </div>
        </div>
        <div class="itemContainer">
            <div class="containerRow">
                <div class="box">
                    <h5>総着信数</h5>
                    <div class="contentField">
                        <div class="content">
                            <p class="mainContent">{{ kpi_object.total_calls }} 件</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <h5>放棄呼数</h5>
                    <div class="contentField">
                        <div class="content">
                            <p class="mainContent">{{ kpi_object.abandoned_calls }} 件</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <h5>留守電数</h5>
                    <div class="contentField">
                        <div class="content">
                            <p class="mainContent">{{ kpi_object.voicemails }} 件</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <h5>電話問い合わせ件数</h5>
                    <div class="contentField">
                        <div class="content">
                            <p class="mainContent">{{ kpi_object.phone_inquiries }} 件</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="containerRow">
                <div class="box">
                    <h5>応答率</h5>
                    <div class="contentField">
                        <div class="content">
                            <p class="mainContent">{{ kpi_object.response_rate|percentage }} %</p>
                            <p class="subContent">{{ kpi_object.responses }} / {{ kpi_object.total_calls }}</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <h5>直受け率</h5>
                    <div class="contentField">
                        <div class="content">
                            <p class="mainContent">{{ kpi_object.direct_handling_rate|percentage }} %</p>
                            <p class="subContent">{{ kpi_object.direct_handling }} / {{ kpi_object.phone_inquiries }}</p>
                            <p class="subContent">Buffer: 0</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <h5>20分以内折返し率</h5>
                    <div class="contentField">
                        <div class="content">
                            <p class="mainContent">{{ kpi_object.cumulative_callback_rate_under_20_min|percentage }} %</p>
                            <p class="subContent">{{ kpi_object.cumulative_callback_under_20_min }} / {{ result }}</p>
                            <p class="subContent">Buffer: 0</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <h5>40分以内折返し率</h5>
                    <div class="contentField">
                        <div class="content">
                            <p class="mainContent">{{ kpi_object.cumulative_callback_rate_under_40_min|percentage }} %</p>
                            <p class="subContent">{{ kpi_object.cumulative_callback_under_40_min }} / {{ result }}</p>
                            <p class="subContent">Buffer: 0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
