{% extends "base.html" %}

{% block head %}
<meta http-equiv="refresh" content="30">
{% endblock %}

{% block styles %}{% load static %}
<link rel="stylesheet" href="{% static 'kpi/css/dashboard.css' %}">
{% endblock %}

{% block title %}KPI速報{% endblock %}

{% block content %}
{% load custom_filters %}

<div class="page">
    <div class="contents">
        <div class="titleContainer">
            <div class="mainTitleContainer">
                <div class="title"><h1>KPI速報 -TVS-</h1></div>
                <div class="timeStamp">{{ kpi_object.created_at }} 現在</div>
            </div>
            <div class="timeContainer">
                <div class="timeBox">
                    <h5>現在の時刻</h5>
                    <div class="timeContent" id="current-time">00:00:00</div>
                </div>
                <div class="timeBox">
                    <h5>20分前の時刻</h5>
                    <div class="timeContent" id="twenty-minutes-ago">00:00:00</div>
                </div>
                <div class="timeBox">
                    <h5>40分前の時刻</h5>
                    <div class="timeContent" id="forty-minutes-ago">00:00:00</div>
                </div>
            </div>
        </div>
        <div class="itemContainer">
            <div class="containerMainKPI">
                <div class="boxContainer">
                    <div class="box">
                        <h5>応答率</h5>
                        <div class="contentField">
                            <div class="content">
                                <p class="mainContent">{{ kpi_object.response_rate|percentage }} %</p>
                                <p class="subContent">{{ kpi_object.responses }} / {{ kpi_object.total_calls }}</p>
                                <p class="buffer">-</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxContainer">
                    <div class="box">
                        <h5>直受け率</h5>
                        <div class="contentField">
                            <div class="content">
                                <p class="mainContent">{{ kpi_object.direct_handling_rate|percentage }} %</p>
                                <p class="subContent">{{ kpi_object.direct_handling }} / {{ kpi_object.phone_inquiries }}</p>
                                {% buffer 0.35 kpi_object.direct_handling kpi_object.phone_inquiries as buffer_d %}
                                <p class="subContent">Buffer: <span class="buffer">{{ buffer_d }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxContainer">
                    <div class="box">
                        <h5>20分以内折返し率</h5>
                        <div class="contentField">
                            <div class="content">
                                <p class="mainContent">{{ kpi_object.cumulative_callback_rate_under_20_min|percentage }} %</p>
                                {% add_values kpi_object.cumulative_callback_under_60_min kpi_object.callback_count_over_60_min kpi_object.waiting_for_callback_over_20min as result_20 %}
                                <p class="subContent">{{ kpi_object.cumulative_callback_under_20_min }} / {{ result_20 }}（滞: {{kpi_object.waiting_for_callback_over_20min}}）</p>
                                {% buffer 0.8 kpi_object.cumulative_callback_under_20_min result_20 as buffer_20 %}
                                <p class="subContent">Buffer: <span class="buffer">{{ buffer_20 }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxContainer">
                    <div class="box">
                        <h5>30分以内折返し率</h5>
                        <div class="contentField">
                            <div class="content">
                                <p class="mainContent">{{ kpi_object.cumulative_callback_rate_under_30_min|percentage }} %</p>
                                {% add_values kpi_object.cumulative_callback_under_60_min kpi_object.callback_count_over_60_min kpi_object.waiting_for_callback_over_30min as result_30 %}
                                <p class="subContent">{{ kpi_object.cumulative_callback_under_30_min }} / {{ result_30 }}（滞: {{ kpi_object.waiting_for_callback_over_30min }}）</p>
                                <p class="subContent">-</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxContainer">
                    <div class="box">
                        <h5>40分以内折返し率</h5>
                        <div class="contentField">
                            <div class="content">
                                <p class="mainContent">{{ kpi_object.cumulative_callback_rate_under_40_min|percentage }} %</p>
                                {% add_values kpi_object.cumulative_callback_under_60_min kpi_object.callback_count_over_60_min kpi_object.waiting_for_callback_over_40min as result_40 %}
                                <p class="subContent">{{ kpi_object.cumulative_callback_under_40_min }} / {{ result_40 }}（滞: {{kpi_object.waiting_for_callback_over_40min}}）</p>
                                {% buffer 0.9 kpi_object.cumulative_callback_under_40_min result_40 as buffer_40 %}
                                <p class="subContent">Buffer: <span class="buffer">{{ buffer_40 }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="containerRow">    
                <div class="statsContainer">
                    <div class="box-large">
                        <table>
                            <tr>
                                <th>総着信数</th>
                                <td>{{ kpi_object.total_calls }} 件</td>
                            </tr>
                            <tr>
                                <th>放棄呼数</th>
                                <td>{{ kpi_object.abandoned_calls }} 件</td>
                            </tr>
                            <tr>
                                <th>留守電数</th>
                                <td>{{ kpi_object.voicemails }} 件</td>
                            </tr>
                            <tr>
                                <th>電話問い合わせ件数</th>
                                <td>{{ kpi_object.phone_inquiries }} 件</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="wfcContainer">
                    <div class="box-wfc">
                        <table>
                            <tr>
                                <th>20分滞留</th>
                                <th>30分滞留</th>
                                <th>40分滞留</th>
                            </tr>
                            <tr>
                                <td>11111111</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}{% load static %}
<script src="{% static 'kpi/js/dashboard.js' %}"></script>
{% endblock %}