<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="cp932">
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'kpi/css/monitor.css' %}">
    <title>KPI速報 -TVS-</title>
</head>
<body>
    <header>
        <div class="title"><h1>KPI速報-TVS-</h1></div>
        <div class="last-data-acquisition-date">
            <p>{{ kpi_object.created_at }} 現在</p>
        </div>
    </header>
    {% load custom_filters %}
    <main>
        <div class="container">
            <div class="box">
                <div class="label">総着信数</div>
                <div class="contents">{{ kpi_object.total_calls }} 件</div>
            </div>
            <div class="box">
                <div class="label">留守電数</div>
                <div class="contents">{{ kpi_object.voicemails }} 件</div>
            </div>
            <div class="box">
                <div class="label">応答率</div>
                <div class="contents">{{ kpi_object.response_rate|percentage_m }} %</div>
            </div>
        </div>
        <div class="container">
            <div class="box">
                <div class="label">直受け率</div>
                <div class="contents">{{ kpi_object.direct_handling_rate|percentage_m }} %</div>
            </div>
            <div class="box">
                <div class="label">20分以内率</div>
                <div class="contents">{{ kpi_object.cumulative_callback_rate_under_20_min|percentage_m }} %</div>
            </div>
            <div class="box">
                <div class="label">40分以内率</div>
                <div class="contents">{{ kpi_object.cumulative_callback_rate_under_40_min|percentage_m }} %</div>
            </div>
        </div>
    </main>
    <footer>
        <div class="notes">
            <p>○CPHは暫定値です。</p>
            <p>○データは1分ごとに更新されます。</p>
        </div>
    </footer>
</body>
</html>