html, body, h1 {
    margin: 0 0;
}

.page {
    background-color: blueviolet;
    height: calc(100vh - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
}

/*------------------
     titleの設定
------------------*/
h1 {
    margin-top: 10px;
}
.titleContainer {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-left: 20px;
    margin-bottom: 5px;
}
.mainTitle {
    background-color: rgb(74, 138, 138);
}

/* 時間表示 */
.timeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(151, 203, 248);
    height: 100%;
}

/* timeBoxの設定 */
/* 形状 */
.timeBox {
    border-radius: 10px;
    border: solid 1px #000000;
    width: 120px;
    height: 80px;
    margin: 5px;
}
/* font */
.timeTitle {
    font-weight: bold;
    margin-top:5px;
    margin-left: 5px;
}
.timeBox p {
    margin-top: 8px;
    text-align: center;
}


/*----------------------
     contentsの設定
----------------------*/
.contentsContainer {
    background-color: aquamarine;
    flex: 1;
    display: flex;
    flex-direction: column;
}
/* 応答率・直受け率・折返し率 */
.mainContainer {
    background-color: #657cef;
    display: flex;
    justify-items: stretch;
}
.mainBox {
    background-color: aquamarine;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 130px;
    margin: 5px;
    border-radius: 10px;
    border: solid 1px #000000;
    padding: 5px;
}
/* mainBoxのタイトル */
.mainBox h5 {
    background-color: rgb(255, 4, 0);
    margin: 0 0;
    font-size: 18px;
    height: 22px;
}
.contentField {
    background-color: #dced58;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contentField p {
    margin: 0 0;
    text-align: center;
}
.rate {
    font-size: 30px;
}


/* 下段：総着信数・留守電数等 */
.subContainer {
    flex: 1;
    display: flex;
    background-color: bisque;
}
.sideContainer {
    background-color: aqua;
    width: 30%;
    min-width: 300px;
}
.statsContainer {
    background-color: #31ff3c;
    height: 200px;
    display: flex;
}
.statsBox {
    background-color: aqua;
    flex: 1;
    display: flex;
    border-radius: 10px;
    border: solid 1px #000000;
    margin: 5px 5px;
}

/* statsテーブル */
.statsTable{
    flex: 1;
    margin: 5px;
}
.statsTable th {
    text-align: left;
    font-size: 20px;
}
.statsTable td {
    font-size: 20px
}

/*-------------------------

        chartの設定

-------------------------*/
.chartContainer {
    background-color: #cd49f5;
    flex: 1;
}